*.orig
*.dbgconf
*.uvguix.Javid
*.uvguix.admin
*.uvoptx
*.lst
*.mxproject
/MCU_Program/MCU_Alarm/OBJ/
/MCU_Program/MCU_Alarm/USER/Listings/
/MCU_Program/MCU_Gate_magnetism/OBJ/
/MCU_Program/MCU_Gate_magnetism/USER/Listings/
/MCU_Program/MCU_smoke&flame/OBJ/
/MCU_Program/MCU_smoke&flame/USER/Listings/
/MCU_Program/MCU/MDK-ARM/STM32F103C8x/
