*.hex
*.orig
*.dbgconf
*.uvguix.Javid
*.uvguix.admin
*.uvoptx
*.lst
*.mxproject
/MCU_Alarm/OBJ/
/MCU_Alarm/USER/Listings/
/MCU_Gate_magnetism/OBJ/
/MCU_Gate_magnetism/USER/Listings/
/MCU_smoke&flame/OBJ/
/MCU_smoke&flame/USER/Listings/
/MCU/MDK-ARM/STM32F103C8x/
